@CHARSET "ISO-8859-1";

.imagen{
	margin-top:100px;
	width: 60px;
	height: 60px;
}

.capaCargando{
	position:absolute;
	text-align: center;
	width: 100%;
	height: 90%;
}

label.error { 
	float: left; 
	color: red; 
	padding-top: .5em; 
	vertical-align: top; 
	font-weight:bold
}